<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <!-- Make specific stylesheets later and comment them  -->
    <link rel="stylesheet" href="/stylesheets/style.css"/ >
</head>
<body>

    <div class="login-div">
        <h2>Luxvane Admin</h2>
        <form action="/owners/login" method="POST" class="form">

            <label>Username</label>
            <input type="Email" placeholder="Email" name="email" required />

            <label>Password</label>
            <input type="password" placeholder="Password" name="password" required />

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
