<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <!-- Make specific stylesheets later and comment them  -->
    <link rel="stylesheet" href="/stylesheets/style.css"/ >
</head>
<body>

    <h1>Welcome to the admin login page - owners route</h1>
        <form action="/owners/login" method="POST">

            <label>Email:</label>
            <input type="email" name="email" required />

            <label>Password:</label>
            <input type="password" name="password" required />

            <button type="submit">Login</button>

        </form>

</body>
</html>
