<div class="topbar">
  <div class="topbar-brand">
    <span class="brand-logo">L</span>
    <span class="brand-name">Luxvane Admin</span>
  </div>

  <div class="topbar-user">
    <div class="avatar" data-email="<%= owner.email %>">
      <img src="/images/owner-avatar.png" class="owner-avatar" />
    </div>
    <a href="/owners/logout" class="btn btn-outline logout-btn">Logout</a>
  </div>
</div>
