body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
  min-height: 100vh;
}

.dashboard-container {
  font-size: medium;
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  font-size: 18px;
}

.dashboard-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.dashboard-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.dashboard-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.dashboard-card p {
  margin-bottom: 16px;
  /* color: #6b7280; */
  color: #4b5563; /* instead of #6b7280 */
}

