body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

.product-header {
  display: flex;
  justify-content: space-between; /* left button + right button */
  align-items: center;
  margin-bottom: 20px;
}

/* create new product button */
.create-btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 16px;
  border: 1px solid #444;
  border-radius: 6px;
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

/* Product grid container */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

/* Product card */
.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  background: #fafafa;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}

/* Product image */
.product-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Text styling */
.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.product-price {
  font-size: 16px;
  color: #333;
  margin: 6px 0;
}

.product-desc {
  font-size: 14px;
  color: #666;
  margin: 6px 0;
}

.product-discount {
  font-size: 14px;
  margin-top: 8px;
  font-weight: bold;
}
